*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#2489b8;
}

header{
    background:#12445c;
    color:white;
    padding:30px;
    text-align:center;
}

.boton-modo{
    margin-top: 14px;
    background-color: #2e7d32;
    color: black;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor{
    display:flex;
    min-height:100vh;
}

nav{
    width:220px;
    background:#1565c0;
    padding:20px;
    display:flex;
    flex-direction:column;
    gap:12px;
}

nav a{
    color:white;
    text-decoration:none;
    padding:12px;
    font-size:18px;
    border-radius:6px;
}

nav a:hover{
    background:#075583;
}

main{
    flex:1;
    padding:30px;
}

section{
    margin-bottom:25px;
    padding:25px;
    border-radius:15px;
    box-shadow:0px 4px 10px gray;
}

.descripcion{
    background:#fff8dc;
}

.imagen{
    background:#4fc0f5;
    text-align:center;
}

.imagen img{
    width:80%;
    max-width:650px;
    border-radius:10px;
}

.servicios{
    background:#e8f5e9;
}
.mision{
    background:#e8f5e9;
}

.formulario{
    background:#fff3e0;
}

section h2{
    margin-bottom:15px;
}

section p{
    line-height:1.5;
}

ul{
    margin-left:20px;
}

li{ 
    margin-bottom:8px;
}

label{
    margin-top:12px;
    font-weight:bold;
}

input,
select,
input,
select,
textarea{
    width:100%;
    padding:10px;
    margin-top:5px;
    border-radius:8px;
    border:1px solid gray;
    box-sizing:border-box;
}

textarea{
    resize:vertical;
}

input[type="submit"]{

    margin-top:20px;
    background:#43a047;
    color:white;
    border:none;
    cursor:pointer;

}

input[type="submit"]:hover{
    background:#2e7d32;
}

footer{
    background:#263238;
    color:white;
    text-align:center;
    padding:18px;
}

body.claro{
    background-color: #4fc0f5;
    color: black;
}

body.claro header{
    background-color: #4fc0f5;
    color: black;
}

body.claro header p{
    color: darkblue;
}

body.claro nav{
    background-color: #263238;
}

body.claro .tarjeta{
    background-color: aqua;
}

body.claro .tarjeta h2{
    color: black;
}

body.claro article{
    background-color: #2489b8;
}

body.claro article h3{
    background-color: #2489b8;
}

@media screen and (max-width:768px){
    .contenedor{
        flex-direction:column;
    }

    nav{
        width:100%;
        flex-direction:column;
        gap:8px;
    }

    main{
        padding:15px;
    }

    section{
        padding:18px;
        margin-bottom:15px;
    }

    .imagen img{
        width:100%;
    }
}