#btn-confirmar{
    background-color: #6f4e37;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size:16px;
    margin-top: 15px;
}

#btn-confirmar:hover{
    background-color: #3e2723;
}

.oculto{
    display: none;
}
